<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<logger name="logLogger">
		<level value="ALL" />
		<appender-ref ref="LogFile" />
	</logger>

	<appender name="LogFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\\app.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="100" />
		<staticLogFileName value="false" />
		<datePattern value="yyyy-MM-dd'.log'" />
		<rollingStyle value="Composite" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<header value="&#xD;&#xA;---------------------- 应用程序启动 --------------------------&#xD;&#xA;" />
			<footer value="&#xD;&#xA;---------------------- 应用程序关闭 --------------------------&#xD;&#xA;" />
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss:fff} -- %-5p -- %m%n" />
		</layout>
	</appender>
</log4net>
